* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #617a60;
  --secondary: #8db48c;
  --tertiary: #bed6be;
  --lightest: #fff;
  --background: #fafafa;
  --nav-background: #fafafada;
  --dark-text: #1c1c1c;
  --light-text: #333;
  --lightest-text: #f3f3f3;
  --badge-primary: #617a603a;
  --badge-secondary: #8db48c34;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--dark-text);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#about, 
#testimonials,
#articles{
  scroll-margin-top: 180px;
}

#questions {
  scroll-margin-top: 280px;
}