.social-section {
  border-radius: 20px 20px 0 0;
  background: var(--secondary);
  color: #fff;
  padding: 4rem 2rem;
}

.social-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--lightest-text);
  line-height: 65px;
  border-width: 1px;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 400px;
  max-width: 1200px;
  margin: 0 auto;

}

.social-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 22px;
  padding: 50px 50px 50px 50px;
}

.social-links {
  background: var(--primary);
  padding: 1em;
  border-radius: 20px;
  width: 100%;
}

.social-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-top: 10px;
  border-radius: 20px;
  transition: all ease-in-out .3s;
}

.social-card:hover {
  box-shadow: 0 8px 10px rgba(0,0,0,0.4);
}

.social-avatar {
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  border-radius: 50%;
  border: 3px solid var(--secondary);
  object-fit: cover;
}

.social-info h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}
