.contact-section {
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--lightest-text);
    position: relative;
    z-index: 2;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.contact-text {
    flex: 1;
    min-width: 300px;
}

.contact-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.3;
}

.contact-text h2 span {
    font-weight: bold;
    color: var(--lightest);
}

.contact-text p {
    margin-bottom: 16px;
    color: var(--lightest-text);
}

.contact-text a { 
    color: var(--dark-text);
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
}

.contact-form {
    flex: 1;
    min-width: 300px;
}

.contact-form h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
}

.form-grid input,
.form-grid select,
.form-grid textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 0.95rem;
}

.form-grid textarea {
    min-height: 100px;
    outline: none;
}

.form-grid input:focus,
.form-grid select:focus
.form-grid textarea:focus {
    outline: 2px solid var(--secondary);
}

.form-disclaimer {
    margin: 20px 0;
}

.btn-pink {
    margin-top: 20px;
    background-color: var(--secondary);
    color: var(--lightest-text);
    font-weight: bold;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pink:hover {
    background-color: var(--tertiary);
}